<%= simple_form_for(@mailbox) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.simple_fields_for :data do |data| %>
    <%= data.input :iname %>
    <%= data.input :sex %>
<% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
