<p id="notice"><%= notice %></p>

<h1>Mailboxes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Data</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mailboxes.each do |mailbox| %>
      <tr>
        <td><%= mailbox.name %></td>
        <td><%= mailbox.data %></td>
        <td><%= link_to 'Show', mailbox %></td>
        <td><%= link_to 'Edit', edit_mailbox_path(mailbox) %></td>
        <td><%= link_to 'Destroy', mailbox, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mailbox', new_mailbox_path %>
